*{
    margin: 0;
    font-family:'Open Sans', sans-serif;
}

.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left ;
    background-size: auto, 5%;
}
.my-name{
    text-decoration: none;
    color: #181818;
    transition:0.6s ease;
}
.my-name:hover{
    letter-spacing: 20px;
}    
/* Header and nav styles */

.portfolio, .blogs{
    color: black;
    text-decoration: none;
}
.portfolio:hover ,.blogs:hover{
    color: #FD6E0A ;
    

}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}
.nav-tittle{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}

.text-primary{
    color: #FD6E0A;
}

.primary-btn{
    height: 64px;
    color: #ffff;
    border: 5px;  
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    
}

/* banner styles*/

.banner{
    display: flex;
    align-items: center;
    margin: 0 100px;
}

.banner-sub-tittle{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.banner-tittle{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* main section */

main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}

/* About section styles */

.about{
    margin-top: 130px;
    background: #fbece1;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-tittle{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
}
.section-description{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    text-align: center;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-tittle{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* What I do section */

.what-i-do .section-tittle{
    margin-bottom: 120px;
    margin-top: 200px;
}

.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.211);
    border-radius: 5px;
    padding: 30px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill-tittle{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 15px;
}
.skill-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* Resume styles */

.resume-content{
    display: flex;
    margin-top: 100px;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-tittle{
    font-weight: 700;
    font-size: 30px;
}
.resume-item .tittle{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume-item .sub-tittle{
    font-size: 20px;
    color: #757575;
}
.resume-item .desctiption{
    font-size: 16px;
    color: #757575;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}

/* Contact styles */

.contact{
    display: flex;
    gap: 100px;
    background:#fbece1;
    padding: 130px 200px;
}
.contact .section-tittle{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding:18px 30px;
}
input{
    height: 64px;
}
.contact{
    text-decoration: none;
}